In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/data.csv')

In [3]:
df.head()

,area,adress,price,price_per_sqm,monthly_fee,size_in_sqm,date_sold
0,Södermalm,"Götgatan 128, 3tr",4850000,74615,2798.0,65,2023-02-03
1,Årsta,Möckelvägen 32,2650000,63095,3281.0,42,2023-02-03
2,Södermalm,Heleneborgsgatan 30,4500000,97826,2451.0,46,2023-02-02
3,Östermalm,"Körsbärsvägen 10, 5tr",5025000,94811,2664.0,53,2023-02-02
4,Vasastan,"Anna Steckséns Gata 15, 10 tr",4900000,128947,2387.0,38,2023-02-02

In [20]:
new_list = []
for price in df["price"].head():
    new_list.append(price)

In [21]:
new_list

[4850000, 2650000, 4500000, 5025000, 4900000]

In [27]:
def count_saving_months(x):
    month_amount = []
    for price in x:
        calc = (price * 0.3) / (40_000 * 0.781 - 15_900)
        month_amount.append(round(calc, 2))
    return month_amount

In [28]:
test_month_count = count_saving_months(new_list)

In [29]:
test_month_count

[94.85, 51.83, 88.01, 98.27, 95.83]